/* autoprefixer grid: autoplace */
@import "../../commonStyles/colorPalette";
@import "../../commonStyles/breakpoints";
@import "../../commonStyles/mixins";

.start-new-service {
  & .select-wrapper {
    position: relative;
    min-width: 200px;
    max-width: 240px;
    @include mq("sm") {
      max-width: 100%;
    }
    &.states {
      min-width: 110px;
      max-width: 110px;
    }
    & select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      background-image: none;
      -ms-word-break: normal;
      word-break: normal;
      @include mq("sm") {
        max-width: 100%;
      }
    }
    & select::-ms-expand {
      display: none;
    }
  }
  & .select-wrapper::after {
    content: '\f107';
    font: normal normal normal 21px/1 FontAwesome;
    color: $grey-4;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    right: 13px;
    top: 9px;
    position: absolute;
    pointer-events: none;
  }
  & .commercial-extended-input {
    max-width: 507px;
  }
  & .sectional-information-title {
    font-size: 1.286rem;
    font-weight: 600;
  }
  & h5 {
    color: $primary-brand-blue;
    font-size: 0.875rem;
    margin: 0 0 1.25rem 0;
  }

  & .project-information-title {
    font-size: 1.125rem;
    font-weight: bold;
  }
  &.narrow {
    padding: 0 	2.625rem;
  }
  & > main {
    background: $task-progress-background;
    padding: 	2.375rem 0px;
  }
  &.hidden {
    display: none;
  }
  & .inline-block {
    display: inline-block;
  }
  & #next-btn {
    background-color: $primary-brand-active;
    border: 1px solid $primary-brand-active;
    color: $color-white;
    outline: none;
    min-width: 12rem;
    font-weight: 600;
    @include mq("md") {
      margin-top: 10px;
    }
  }
  & #previous-btn {
    background-color: $color-white;
    border: 1px solid $primary-brand-active;
    color: $primary-brand-active;
    outline: none;
    min-width: 12rem;
    font-weight: 600;
  }
  & #next-btn:hover {
    background-color: $primary-brand-blue;
    color: $color-white;
  }
  & #next-btn:disabled {
    border: 1px solid $grey-3;
    background-color: $grey-3;
    color: $color-white;
  }
  & #previous-btn:hover {
    background-color: $primary-brand-blue;
    border: 1px solid $primary-brand-blue;
    color: $color-white;
  }
  & #previous-btn:disabled {
    background-color: $color-white;
    border: 1px solid $grey-3;
    color: $grey-3;
  }
  & .margin-right-15 {
    margin-right: 15px;
  }
  & .margin-bot-20 {
    margin-bottom: 20px;
  }
  & p {
    margin-bottom: 5px;
    &.grey-text {
      color: #9b9b9b;
    }
  }
  & .weighted {
    font-weight: bold;
  }

  // static formatting for individual forms
  & .form-field {
    & .other-appliance {
      display: block;
      margin-bottom: 20px;
    }
    & .additional-site {
      display: inline-block;
    }
    & .remove-btn {
      float: right;
    }
    & input, select {
      margin-bottom: 20px;
    }
  }
  & .input-inline-block {
    display: inline-block;
    margin-right: 26px;
    vertical-align: top;
    width: 240px;
  }

  & hr {
    color: $color-hr-tag ;
    &.last {
      margin: 30px 0;
    }
  }

  & .submit-green {
    @extend #next-btn;
    // background: $success-text
  }
  & .submit-duplicate {
    background-color: $color-white;
    color: $primary-brand-active;
    outline: none;
    min-width: 12rem;
    font-weight: 600;
    font-size: 14px;
    position: absolute;

  }
  & .submit-duplicate:hover {
    color: $primary-brand-blue;
  }

  & select {
    max-width: 240px;
    font-size: 14px;
    display: flex;
    flex-grow: 1;
    outline: none;
    color: #7c7c7c;
      &.activated {
        color: black;
      }
      &.states {
        max-width: 110px;
      }
  }
  & input {
    width: 100%;
    font-size: 14px;
    padding: 1px 1px 1px 10px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid $color-grey-light;
    font-family: "Open Sans", sans-serif;
    max-width: 240px;
    display: flex;
    flex-grow: 1;
    outline: none;
  }
  & input:invalid {
    border-color: red;
    // color: red
  }


  form .error-wrapper {
    display: inline-flex;
    flex-flow: row nowrap;
    @include mq("sm") {
      flex-flow: row wrap;
      width: 100%;
    }
  }

  form .error {
    visibility: hidden;
    max-height: 0px;
    color: $color-red;
    font-size: 12px;
    opacity: 0;
    flex-basis: 50%;
    @include mq("sm") {
      flex-basis: 100%;
    }
    vertical-align: top;
    line-height:14px;
    transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
  }

  form input[type="email"]:invalid + .email-error,
  form input[type="email"]:invalid + .error-wrapper > .email-error,
  form input[type="text"]:invalid + .email-error,
  form input[type="tel"]:invalid + .email-error {
    opacity: 1;
    display: block;
    visibility: visible;
    max-height: 100px;
    font-size: 12px;
    padding-bottom: 0.8rem;
    line-height:14px;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
  }
  form .error:focus {
    @extend .error;
    opacity: 1;
  }

  // This prevents the error from displaying while the user is typing
  form input[type="email"]:invalid:focus + .email-error,
  form input[type="tel"]:invalid:focus + .email-error,
  form input[type="tel"]:focus + .other-error {
    opacity: 0;
    font-size: 12px;
    visibility: hidden;
    max-height: 0px;
    padding: 0;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
  }

  & .sn-service-btn {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    max-width: 240px;
  }
  /* Customize the label (the container) */
  .container {
    display: inline-block;
    position: relative;
    padding-left: 21px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 35px;
    margin-bottom: 20px;
  }
  .container-square {
    @extend .container;
    padding-left: 35px;
    display: block;
    &-last {
      @extend .container-square;
      display: inline-block;
      top: -7px; // this is for lining up element with .other-box
      margin-right: 15px;
      margin-bottom: 10px;
    }
  }
  .other-box {
    display: inline-block;
    position: relative;
    top: -6px; // this is for lining up element with .container-square:last-of-type
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: $color-white;
    border: 1px solid $primary-brand-blue;
  }
  .checkmark-square {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $color-white;
    border: 1px solid $color-grey-light;
    border-radius: 1.5px;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark, .container:hover input ~ .checkmark-square {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: $primary-brand-blue;
  }
  .container input:checked ~ .checkmark-square {
    background-color: $primary-brand-blue;
    border-color: $primary-brand-blue;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after, .checkmark-square:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after, .container input:checked ~ .checkmark-square:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $color-white;
  }

  .container .checkmark-square:after {
    left: 8px;
    top: 3px;
    width: 6px;
    height: 14px;
    border: solid $color-white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }



  // --------- service information specific styles

  .additional-notes-container {
    max-width: 97%;
    margin-bottom: 20px;
    & textarea {
      overflow: auto;
      width: 100%;
      font-size: 14px;
      padding: 7px 1px 1px 9px;
      height: 80px;
      border: 1px solid #C8C8C8;
      font-family: "Open Sans", sans-serif;
      background-color: #FFFFFF;
      display: flex;
      flex-grow: 1;
      outline: none;
    }
  }
  .electric-calendar,
  .project-info-calendar {
    margin-top: 0;
    input {
      margin-bottom: 0px;
    }
  }
  .calendar-bar-wrapper.project-info-calendar {
    max-width: 240px;
    @include mq("md") {
      max-width: 100%;
    }
  }
  .calendar-display-wrapper.electric-calendar {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .calendar-bar-wrapper.electric-calendar {
    max-width: 217px;
    @include mq("md") {
      max-width: 97%;
    }
  }

  // ------------ contact Information specific styles

  .row-flex-inline {
    display: inline-flex;
    width: 33%;
    @include mq(791px) {
      display: flex;
      justify-content: space-between;
      width: 50%
    }
    @include mq(529px) {
      display: flex;
      justify-content: space-between;
      width: 100%
    }

    & .title {
      font-weight:bold;
      margin-bottom: 10px;
      width: 34%;
      color: $page-text;
    }
    & .text {
      color: $color-grey-dark;
      margin-bottom: 10px;
      font-weight: normal;
    }
  }
  // --------------- Review N Submit specific styles
  .row-flexed {
    @extend .row-flex-inline;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;

    & .flex-item {
      display: inline-block;
    }
    & .title {
      width: 20%;
    }
    & .text {
      font-weight: normal;
      margin-bottom: 0px;
    }
    & .underground-facility {
      margin-bottom: 0;
    }
  }
}

.h4-title-format {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 20px;
}
.edit-btn {
  float: right;
}
