@import "../../commonStyles/colorPalette";
@import "../../commonStyles/mixins";

.calendar-widget-wrapper{
    .date-separator{
        display: inline;
    }
    .errors-wrapper{
        margin-top: .5rem;
        text-align: center;
        color: $color-red;
    }
    .display-wrapper{
        display: flex;
        margin-top: 1.5rem;
        align-items: center;
        position: relative;
        .controls-wrapper{
            font-size: 14px;
            margin-left: auto;
        }
    }
    .calendar-display-wrapper {
        @extend .display-wrapper;
        flex-flow: row wrap;
    }
    .icon-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: .5rem;
    }
    .bar-wrapper{
        background: $color-white;
        border: 1px solid $color-grey-light;
        padding: .5rem;
        display: flex;
        align-items: center;
        width: 100%;
        // margin-right: 1rem;
        @include mq('md'){
            flex-wrap: wrap;
            justify-content: center;
        }
        @include mq('sm'){
            align-items: flex-start;
        }
        .date-wrapper{
            font-size: 14px;
            line-height: 1rem;
            display: flex;
            flex-wrap: wrap;
            span{
                display: inline-flex;
                line-height: 1.25rem;
            }
            span[contenteditable=false]:empty::before{
                content: 'Select Date';
            }
            @include mq('xs'){
                flex-direction: column;
            }
        }
        .time-wrapper{
            margin-left: .5rem;
            @include mq('xs'){
                margin-left: 0;
            }
        }
        > .button-wrapper{
            padding-left: 1rem;
            @include mq('md'){
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 1rem;
            }
        }
    }
    .calendar-bar-wrapper {
        @extend .bar-wrapper;
        border: none;
        padding: 0;
        width: 40%;
        margin-right: 20px;
        justify-content: flex-end;
        @include mq('md') {
            flex-basis: 100%;
            margin-right: 0px;
            flex-wrap: initial;
        }
    }
    .white-calendar-icon-wrapper{
        @extend .icon-wrapper;
        padding: 10px;
        background-color: $primary-brand-blue;
        margin-right: 0px;
    }
    .white-calendar-date-wrapper{
        @extend .date-wrapper;
        padding: 9px;
        width: 100%;
        border-top: 1px solid $color-grey-light;
        border-left: 1px solid $color-grey-light;
        border-bottom: 1px solid $color-grey-light;
    }
    .select-calendar-bar-wrapper {
        @extend .calendar-bar-wrapper;
        outline: none;
        margin: 0;
        font-size: 14px;
        color: $grey-4;
        padding-left: 0.5rem;
        @include mq("md") {
            margin-top: inherit;
        }
        @include mq("sm") {
            padding-top: 8px;
            padding-left: 0.3rem;
        }
    }
    .note-wrapper{
        margin-top: 1rem;
        p{
            font-size: 12px;
        }
    }
    .add-to-calendar-wrapper{
        padding-right: .5rem;
        box-sizing: border-box;
        @include mq('md'){
            padding-right: 0;
        }
        .dropdown-wrapper{
            position: absolute;
            right: 0;
            top: calc(100% - 1px);
            background: $color-white;
            padding: .75rem;
            min-width: 10rem;
            border: 1px solid $color-grey-light;
            border-top: 0;
            z-index: 2;
            @include mq('md'){
                width: 100%;
                left: 0;
            }
            ul{
                margin: 0;
                padding-left: 0;
                li{
                    list-style-type: none;
                    margin-bottom: .5rem;
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                    @include mq('md'){
                        margin-bottom: .75rem;
                        &:last-of-type{
                            margin-bottom: 0;
                        }
                    }
                    i, svg{
                        margin-right: .5rem;
                    }
                }
            }
        }
        .button-wrapper{
            background: none;
            border: 0;
        }
    }
}

.input-calendar-widget-wrapper {
    @extend .calendar-widget-wrapper;
}